@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

* ::-webkit-scrollbar {
	display: none;
}

.navbar {
	width: 100%;
	height: 7.5rem;
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: hsla(209, 96%, 48%, 1);
	padding: 2rem 2.5rem;
	border-bottom: 0.15rem solid hsla(240, 93%, 38%, 1);
}

.navbar-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(1.5rem, 1.327rem + 0.647vw, 2rem);
}

.navbar-title {
	font-size: clamp(1.5rem, 0.981rem + 1.942vw, 3rem);
	font-weight: 500;
	letter-spacing: clamp(0.15rem, 0.064rem + 0.179vw, 0.25rem);
	text-transform: uppercase;
	color: hsla(0, 0%, 100%, 1);
}

.navbar-subtitle {
	font-size: clamp(1.5rem, 0.857rem + 1.339vw, 2.25rem);
	font-family: 'Waiting for the Sunrise', cursive;
	color: hsla(45, 100%, 51%, 1);
}

.navbar-icons {
	display: flex;
	align-items: center;
	gap: clamp(1.5rem, 0.981rem + 1.942vw, 3rem);
}

.navbar-icons > svg:hover {
	cursor: pointer;
	fill: hsla(45, 100%, 51%, 1);
	stroke: hsla(240, 93%, 38%, 1);
	stroke-width: 25;
}

.save-note-hide {
	visibility: hidden;
}

.save-note-show {
	visibility: visible;
}

.notes-page-wrapper {
	width: 100%;
	position: absolute;
	top: 7.5rem;
	display: grid;
	grid-template-columns: 35% 65%;
}

.notes-list-container {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: relative;
	top: 0;
	z-index: 0;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	background-color: hsla(0, 0%, 99%, 1);
	border-right: 0.15rem solid hsla(45, 100%, 51%, 1);
}

.notes-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.075rem solid hsla(240, 93%, 38%, 1);
	padding: 0.75rem 1.25rem;
}

.notes-list-item:last-child {
	border-bottom: none;
}

.notes-list-item-title {
	width: fit-content;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: clamp(1.15rem, 0.977rem + 0.647vw, 1.65rem);
	color: hsla(240, 93%, 38%, 1);
}

.notes-list-item-title[data-status='active'] {
	font-weight: 500;
}

.notes-list-item-title[data-status='active']::before {
	content: 'â­ ';
}

.notes-list-item-title:hover {
	font-weight: 500;
	cursor: pointer;
}

.notes-list-item > svg:hover {
	fill: hsla(9, 100%, 64%, 1);
	cursor: pointer;
}

.new-note-container {
	width: 65%;
	height: 100%;
	position: fixed;
	right: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background: hsla(45, 100%, 85%, 1);
}

.new-note-title {
	all: unset;
	font-size: clamp(2.25rem, 1.904rem + 1.294vw, 3.25rem);
	color: hsla(240, 93%, 38%, 1);
	border-bottom: 0.075rem solid hsla(45, 100%, 51%, 1);
}

.new-note-text {
	all: unset;
	height: 100%;
	overflow-y: scroll;
	font-size: clamp(1.25rem, 0.99rem + 0.971vw, 2rem);
	color: hsla(240, 93%, 38%, 1);
	background-color: transparent;
}

*::placeholder {
	color: rgb(190, 190, 190);
	font-style: italic;
}

@media (max-width: 768px) {
	.navbar-subtitle {
		display: none;
	}

	.notes-page-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	.new-note-container {
		width: 100%;
		height: 16rem;
		top: 7.5rem;
		border-bottom: 0.15rem solid hsla(45, 100%, 51%, 1);
	}

	.notes-list-container {
		top: 16rem;
		border: none;
	}
}

@media (max-width: 400px) {
	.navbar-title {
		display: none;
	}
}
